﻿@model IEnumerable<ScrumGame.Models.Player>
@{
}

<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="mainContent" class="modal-content col-sm-9">

            <div class="modal-header">
                <h5 class="modalTitle" id="listModalTitle">Create Player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>

            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DoB)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tbody-players">
                        @foreach (var item in Model)
                        {
                            <partial name="_PlayerRow" model="@item"/> 
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/gameIndex.js"></script>
}