﻿@model ScrumGame.Models.Player
<div class="modal fade" id="createPlayerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div id="mainContent" class="modal-content col-sm-9">
            <form id="createPlayerForm" asp-controller="Players" asp-action="Create">

                <div class="modal-header">
                    <h5 class="modalTitle" id="createPlayerModalTitle">Add New Player</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal-body">
                    <div class="form-group row">
                        <label asp-for="@Model.Name" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="@Model.Name" class="form-control" placeholder="Name" />
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="@Model.DoB" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="@Model.DoB" class="form-control" placeholder="Name" />
                            <span asp-validation-for="@Model.DoB" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-secondary">Clear</button>
                </div>
            </form>
        </div>
    </div>
</div>
