﻿@model Player
<tr id="row-@Model.Id">
    <td>
        @Html.DisplayFor(modelItem => Model.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.DoB)
    </td>
    <td>
        <!--<a asp-action="Delete" asp-controller="Players" asp-route-id="@Model.Id" class="btn btn-danger removeBtn">Remove</a>-->
        @using (Html.BeginForm("Delete", "Players", FormMethod.Post))
        {
			@Html.Hidden("id", Model.Id)
			<input type="image" src="~/images/trash.svg" width="24" height="24"/>
		}
    </td>
</tr>
