﻿@model IEnumerable<ScrumGame.Models.Player>

@{ 
    ViewData["Title"] = "Scrum Game";

    var player = new ScrumGame.Models.Player() { Name = "", DoB = "1/1/1999" };
    
}
<div id="alertArea" class="alert alert-warning" role="alert" style="display:none">
        <span id="messageArea"></span>
    <button id="alertCloseBtn" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </button>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createPlayerModal">Add New Player</button>
<partial name="_PlayerModal.cshtml" model="player" />

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#listModal">View Player List</button>
<partial name="_ListModal.cshtml" />


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoB)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody-players">
        @foreach (var item in Model)
        {
            <partial name="_PlayerRow" model="@item" />
        }
    </tbody>
</table>*@

@section scripts{
    @*<script src="~/lib/signalr/dist/browser/signalr.js"></script>*@
    <script src="~/js/gameIndex.js"></script>
}