﻿@model IEnumerable<ScrumGame.Models.Player>

@{
    ViewData["Title"] = "All Players";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Date of Birth
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
		{
            <tr>
                <td>
					@Html.DisplayFor(modelItem => player.Name)
				</td>
                <td>
					@Html.DisplayFor(modelItem => player.DoB)
				</td>
			</tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="AddPlayer" asp-controller="Game">Add a Player</a>
</div>